body{
    margin: 0;
}

h3{
    font-size:24px;
    font-family: poppins;
    font-weight: 500;
    margin: 0;
}
h1{
    font-size:40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
p{
    font-family:poppins;
}

.highlight{
    color:blue;
}

.half-width{
    width:40%;
    float: left;
    margin-left:5%;
    padding-right:2%;
    overflow: hidden;
}

.half-width img{
    width: 100%;
}

.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
}
.first-top{
    margin-top:100px;
}

section{
    height: 500px;
}

.btn1{

    background:blue ;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0px;
    color: aliceblue;
    cursor: pointer;
}

.biography{
    background-image: url("images/biography-bg.png");
    padding:50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.center-heading{
    text-align: center;
    margin:25px 0px;
}

.work-img{
    margin:80px 0;
}   

.half-width2{margin: auto;
    width:25%;
    float:left;
    margin:4%;
    overflow: hidden;
}

.half-width2 img{
    width: 100%;
}


.my-work{
    margin-top:250px;
    background-image: url("images/latest-work-bg.png");
    padding:50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.testimonial{
    text-align: center;
    margin:120px 0;
    height: 400px;
}

.reviews{
    margin:110px;
}

.client{
    text-align: center;
    font-family: poppins;
}

.client p{
    font-size: 12px;
    font-weight: 400;
}

.feedback{
    text-align: center;
    font-weight: 500;
}

.rev{
    padding: 15px;
    border: 1px solid black;
    border-radius: 15px;
}

.info-box{
    background-color: blue;
    color: white;
    text-align: center;
    width: 45%;
    margin: auto;
    padding:25px;
    border-radius: 10px;
    cursor: pointer;
}
.info-box a{
    text-decoration: none;
    color: white;}



.footer{
    text-align: center;
    margin-top:60px;
    background-image: url("images/footer-bg.png");
    padding:50px;
    background-position: center
}